<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppendBallz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>969F8E8F1CB412BA00E1F10F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969F8EA31CB412BA00E1F10F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969F8EAE1CB412BA00E1F10F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
